<style>
th, td {
  padding: 10px;
}
th {
  text-align: left;
}
</style>

<h1>All deplacement</h1>

{% if deplacement is not empty %}
<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Email</th>
      <th>date depart</th>
      <th>date retour</th>
      <th>heure depart</th>
      <th>heure retour</th>
      <th>moyen de transport</th>
  	<th>Delete</th>
      <th>Update</th>
    </tr>
  </thead>
  <tbody>
  {% for deplacement in deplacement %}
  <tr>
    <td>{{ deplacement.nom }}</td>
    <td>{{ deplacement.prenom }}</td>
    <td>{{ deplacement.email  }}</td>
    <td>{{ deplacement.datedepart|date('Y-m-d') }}
</td>
    <td>{{ deplacement.dateretour|date('Y-m-d') }}</td>
    <td>{{ deplacement.heuredepart  }}</td>
    <td>{{ deplacement.heureretour  }}</td>
    <td>{{ deplacement.moyentransport  }}</td>

    <td>
    </td>
    <td><a href="delete-deplacement/{{ deplacement.id }}">Delete</a></td>
    <td><a href="update-deplacement/{{ deplacement.id }}">Update</a></td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% else %}
  <p>No deplacement found.</p>
{% endif %}

<br/>
<a href="/create-deplacement/">Create New</a>
