<style>
th, td {
  padding: 10px;
}
th {
  text-align: right;
}
</style>
<table>
<tbody>
    <tr>
      <th>Nom:</th>
    <td>{{ (deplacement.nom) }}</td>
    </tr>
    <tr>
      <th>Prenom:</th>
      <td>{{ (deplacement.prenom) }}</td>
    </tr>
    <tr>
<th>Email:</th>
      <td>{{ (deplacement.email) }}</td>
    </tr>
<tr>
 <th>ville:</th>
      <td>{{ (deplacement.idville) }}</td>
    </tr>
 <th>datedepart:</th>
      <td>{{ (deplacement.datedepart) }}</td>
    </tr>
 <tr>
 <th>dateretour:</th>
      <td>{{ (deplacement.dateretour) }}</td>
    </tr> 
<tr>
 <th>heuredepart:</th>
      <td>{{(deplacement.heuredepart) }}</td>
    </tr>  
<tr>
 <th>heureretour:</th>
      <td>{{ (deplacement.heureretour )}}</td>
    </tr>
<tr>
 <th>moyen de transport:</th>
      <td>{{ (deplacement.moyentransport) }}</td>
    </tr>
 <tr>
</tbody>
</table>

<br/>
<a href="/show-deplacement">View All</a> -
<a href="/update-deplacement/{{ deplacement.id }}">Modify</a>
